<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pomowatch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>801E3C632A9C657B0049CC7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>801E3C692A9C657B0049CC7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>801E3C7B2A9C657C0049CC7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>801E3C852A9C657C0049CC7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
